@use '@styles/colors' as colors;
@use 'sass:math';

.UserBlock {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

$AVATAR_HEIGHT: 72px;
.avatar {
    width: $AVATAR_HEIGHT;
    height: $AVATAR_HEIGHT;
    border-radius: math.div($AVATAR_HEIGHT, 2);
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.names {
    display: flex;
    gap: 4px;
    align-items: center;
}

.name {
    font-weight: 500;
    color: colors.$TEXT_PRIMARY;
    white-space: nowrap;
}

.tag {
    font-weight: 500;
    color: colors.$TEXT_TETRIARY;
    font-size: 0.875rem;
    text-transform: lowercase;
}

.position {
    color: colors.$TEXT_SECONDARY;
    font-size: 0.8125rem;
}

.birthday {
    color: colors.$TEXT_SECONDARY;
    font-size: 0.9375;
    text-align: right;
}
