@use '@styles/colors' as colors;
@use 'sass:math';

.UserBlock {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    cursor: pointer;
    text-decoration: none;
}

$AVATAR_HEIGHT: 72px;
.avatar {
    width: $AVATAR_HEIGHT;
    height: $AVATAR_HEIGHT;
    border-radius: math.div($AVATAR_HEIGHT, 2);
}

.text {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.names {
    display: flex;
    gap: 4px;
    align-items: center;
}

.name {
    font-weight: 500;
    color: colors.$TEXT_PRIMARY;
    white-space: nowrap;
}

.tag {
    font-weight: 500;
    color: colors.$TEXT_TETRIARY;
    font-size: 0.875rem;
    text-transform: lowercase;
}

.department {
    color: colors.$TEXT_SECONDARY;
    font-size: 0.8125rem;
}

.birthday {
    color: colors.$TEXT_SECONDARY;
    font-size: 0.9375;
    text-align: right;
}

$DETAILS_PADDING: 18px;
$DETAILS_AVATAR_HEIGHT: 104px;
.details {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$BG_PRIMARY;
    &__main {
        background-color: colors.$BG_SECONDARY;
        padding: $DETAILS_PADDING;
        padding-top: 72px;
    }
    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
    }
    &__avatar {
        width: $DETAILS_AVATAR_HEIGHT;
        height: $DETAILS_AVATAR_HEIGHT;
        border-radius: math.div($DETAILS_AVATAR_HEIGHT, 2);
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__names {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    &__name {
        font-weight: 700;
        font-size: 1.5rem;
        color: colors.$TEXT_PRIMARY;
    }
    &__tag {
        text-transform: lowercase;
        font-size: 1.0625rem;
        color: colors.$TEXT_TETRIARY;
    }
    &__department {
        font-size: 0.8125rem;
        color: colors.$TEXT_SECONDARY;
    }
    &__back {
        position: absolute;
        left: $DETAILS_PADDING + math.div($DETAILS_PADDING * 2, 3);
        top: $DETAILS_PADDING + math.div($DETAILS_PADDING * 2, 3);
        width: 20px;
        height: 20px;
    }
    &__contacts {
        padding: $DETAILS_PADDING;
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__birthday,
    &__phone {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    &__number {
        font-weight: 500;
        color: colors.$TEXT_PRIMARY;
        flex-basis: 100%;
    }
    &__dates {
        font-weight: 500;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__date {
        color: colors.$TEXT_PRIMARY;
    }
    &__age {
        color: colors.$TEXT_TETRIARY;
    }
}
