@use '@styles/colors' as colors;
@use '@styles/animations' as animations;

.InputSearch {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    padding: 0 14px;
    background-color: colors.$BG_SECONDARY;
}

.input {
    width: 100%;
    height: 20px;
    margin: 0 min(4%, 10px);
    border: none;
    background-color: colors.$BG_SECONDARY;
    color: colors.$TEXT_PRIMARY;
    caret-color: colors.$FOCUS;
    &::placeholder {
        color: colors.$CONTENT;
        font-weight: 500;
    }
}

.loop {
    transition: animations.$BASIC_TRANSITION;
    &_active {
        filter: colors.$TEXT_PRIMARY_FILTER;
    }
}
