@use '@styles/vars' as vars;
@use '@styles/colors' as colors;

.OutputBlock {
    flex-grow: 1;
    min-height: 100%;
    padding: vars.$MAIN_PADDING;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: min(60px, 5vw);
    width: 100%;
    padding: 0 24px;
    &__year {
        text-align: center;
        color: colors.$CONTENT;
        font-weight: 500;
        font-size: 0.9375rem;
    }
    &__left,
    &__right {
        height: 1px;
        background-color: colors.$CONTENT;
        flex-basis: 100%;
    }
}
