@use '@styles/vars' as vars;

.OutputBlock {
    flex-grow: 1;
    min-height: 100%;
    padding: vars.$PADDING;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
}
